mat-list-item:nth-child(2n) {
    background-color: white;
}
mat-list-item {
    border-radius: 5px;
    text-align: center;
}

.color-primary{
    color:#673ab7 !important;
  }

  .current-player{
      font-weight: bold;
      color:#673ab7;
  }
