<h2 class="text-center mt-2 font-weight-light" @fade> Leaderboard</h2>
<p class="text-center">Round - <span matTooltip="Round-number" [matTooltipPosition]="'above'"
    class="color-primary bold">{{data.round}}</span></p>
<div @fade-in class="table-container mx-auto mat-elevation-z8">
    
    <table class="mx-auto" mat-table [dataSource]="data.leader_board">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Rank </th>
            <td mat-cell *matCellDef="let rank = index"> {{rank+1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element ">
                <span matBadge="W" matBadgeOverlap="false" matBadgePosition="before" matBadgeSize="small"
                    [matBadgeHidden]="!element.winner">{{element.name}}</span>
                <span *ngIf="newPlayers.includes(element.name)">
                    <mat-icon aria-hidden="false" class="color-primary" [inline]="true" aria-label="Example home icon">
                        fiber_new
                    </mat-icon>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="lower">
            <th mat-header-cell *matHeaderCellDef> First </th>
            <td mat-cell *matCellDef="let element "> {{element.lower}} </td>
        </ng-container>

        <ng-container matColumnDef="upper">
            <th mat-header-cell *matHeaderCellDef> Second </th>
            <td mat-cell *matCellDef="let element "> {{element.upper}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell *matCellDef="let element " class="font-weight-bold"> {{element.score}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="{'current-player': user === row.name}" *matRowDef=" let row; columns: displayedColumns;">
        </tr>
    </table>
</div>