mat-list-item:nth-child(2n) {
    background-color: white;
}
mat-list-item {
    border-radius: 5px;
    text-align: center;
}
.color-primary{
    color:#673ab7 !important;
  }
.current-player{
    .mat-cell {
        color: #673ab7;
    }
    font-weight: bold;      
}
table {
    width: 100%;   
}
.table-container {
    max-height: 70vh;
    max-width: 450px;
    overflow: auto;
    position: relative;
}
.mat-column-name{
      min-width:43%;
}
.round-number{    
    position: absolute;
    top: 1%;
    z-index: 101;
    right: 3%;
    cursor: default;
}