<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">The Game</a>
  <button (click)="join()" mat-raised-button color="primary" [disabled]="joined" class="pull-right mt-2">Join</button>
</nav>

<div class="container mt-5" *ngIf="appState">
  <ng-container [ngSwitch]="appState.type">
    <app-game-waiting *ngSwitchCase="'Game Waiting'"></app-game-waiting>
    <app-game-count-down-started [count]="appState.data" *ngSwitchCase="'Countdown Started'">
    </app-game-count-down-started>
    <app-game-count-down [count]="appState.data" *ngSwitchCase="'Counting Down'"></app-game-count-down>
    <app-game-started *ngSwitchCase="'Game Started'"></app-game-started>
    <app-leaderboard [rounds]="appState.data" *ngSwitchCase="'Played Round'"></app-leaderboard>
    <app-game-result [winner]="appState.data" *ngSwitchCase="'Game Completed'"></app-game-result>
  </ng-container>
</div>