<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Funny Game</a>
  <button *ngIf="!user" (click)="join()" mat-raised-button color="primary" class="pull-right mt-2">
    <span>Join</span>
  </button>
  <h3 *ngIf="!!user" matTooltip="You have joined" class="color-primary lead cursor-default">{{user}}</h3>
</nav>
<div class="container-fluid mt-4" *ngIf="appState" CUSTOM_ELEMENTS_SCHEMA>
  <ng-container [ngSwitch]="appState.type">
    <app-game-waiting *ngSwitchCase="'Game Waiting'"></app-game-waiting>
    <app-game-count-down-started [count]="appState.data" *ngSwitchCase="'Countdown Started'">
    </app-game-count-down-started>
    <app-game-count-down [count]="appState.data" *ngSwitchCase="'Counting Down'"></app-game-count-down>
    <app-game-started *ngSwitchCase="'Game Started'"></app-game-started>
    <app-leaderboard [data]="appState.data" [newPlayers]="newPlayers" *ngSwitchCase="'Played Round'">
    </app-leaderboard>
    <app-game-result [winner]="appState.data" *ngSwitchCase="'Game Completed'"></app-game-result>
  </ng-container>
</div>